*{
    background-color:lightcoral;
}

H1{

    color:black;
    text-align:center;
    margin-left: 6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    outline: 4px solid black;
    display: block;
    width: 25%;
    text-align: center;
    font-family: fantasy;
    margin-left: 530px;
    background-image: url("image.jpeg");
    background-size: 100px;
}

.2{
    outline: 4px solid black;
    display: block;
    width: 25%;
    font-family: fantasy;
}

.3{
    outline: 4px solid black;
    display: block;
    width: 25%;
    font-family: fantasy;
}

.4{
    outline: 4px solid black;
    display: block;
    width: 25%;
    font-family: fantasy;
}

.hotel-1{
    width: 200px;
    position:absolute;
    top:300px
}

.hotel-2{
    width: 200px;
    position:absolute;
    top:300px;
    right:9px;
}

.hotel-3{
    width: 200px;
    position:absolute;
    top:10px
}

.hotel-4{
    width: 200px;
    position:absolute;
    right:9px;
    top:6px;
}

.hotel-5{
    width:200px;
    position:absolute;
    bottom:-70px;
}

.hotel-6{
    width:200px;
    position: absolute;
    right:9px;
    bottom:-70px
}